.bold-text {
    -unity-font-style: bold;
}

BTGraphNode #title {
    background-color: #494949;
    height: 44px;
    flex-direction: column;
}

BTGraphNodeLeaf #title {
    background-color: #494949;
    height: 44px;
    flex-direction: column;
}