VisualElement {
    background-color: #008f6c;
    padding: 3px;
    margin: 0px 4px 3px 4px;
    border-radius: 2.5px;
}

.idle-unselected-border {
    border-width: 1px;
    border-color: #232323;
}

.idle-selected-border {
    border-width: 1px;
    border-color: #44c0ff;
}

.hover-unselected-border {
    border-width: 1px;
    border-color: #337191;
}

.hover-selected-border {
    border-width: 2px;
    border-color: #44c0ff;
}